
  <carousel arrows=false arrowsOutside=false height="400" cellWidth="100%" dots=true>
    <div class="carousel-cell">
      
      <img class="d-block wp-100" src="assets/images/back-1.png" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    
    <div class="carousel-caption">
      <h5 class="h3-responsive">Grab 100% up to €200 & 200 Free Spins</h5>
      <p> Get ready to party with us! <strong>Unlock hundreds in bonus cash</strong> and collect piles of <strong>free spins for 10 days</strong> on your first deposit of €20 or more.</p>
    </div>
  </div>
    <div class="carousel-cell">
      
        <img class="d-block wp-100" src="assets/images/back-2.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      
      <div class="carousel-caption">
        <h5 class="h3-responsive">Vin and enjoy!</h5>
        <p>Get the most of your wins and enjoy your holiday!</p>
      </div>
    </div>
    <div class="carousel-cell">
    
      <img class="d-block wp-100" src="assets/images/back-3.png" alt="Second slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
     
    <div class="carousel-caption">
      <h5 class="h3-responsive"> Ready for the thrill?</h5>
      <p> Isn't it exciting to win whilst you're enjoying from home.  Then come visit our portal and get your chance to win unlimited prizes that can change your life from today to tomorrow!  Are you ready?</p>
    </div>
  </div>
  </carousel>